<div class="text-center">
  <h4 class="pt-2 mt-2 mb-4 display-6 fw-bold crop-title">Oops, error 404!</h4>
  <p class="fs-5 text-muted">The requested URL <span class="px-3 py-1 fst-italic rounded-4">{{url}}</span> doesn't exist. Sorry for that.</p>
  <p class="fs-5 text-muted">Are you sure the website URL is correct? <a class="text-primary small-a" href="/">Go back to notes-app</a></p>
</div>