<div class="text-center">
  <h4 class="pt-2 mt-2 mb-4 display-6 fw-bold crop-title">Oops, something broke!</h4>
  <p class="fs-5 text-muted">We're looking to see what happened. <a class="text-primary small-a" href="/">Go back
      to notes-app</a></p>
</div>