<div class="container p-3">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5 my-2">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="https://lorempixel.com/g/700/500/" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h4 class="pt-2 mt-2 mb-4 display-6 fw-bold crop-title">Notes App</h4>
      <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolor rem eos quae impedit quia consequuntur facere, error fugiat beatae, numquam ipsum eaque et. Quod ipsum alias fugiat? Explicabo, dolorem.</p>
    </div>
  </div>
</div>

{{#if user}}
  <a href="/notes/add" class="floating-button display-6">+</a>
{{/if}}