a, .nav-link {
  text-decoration: none;
  color: black;
}

.row>* {
  margin-top: 0;
  margin-bottom: 1rem;
}

.rounded-5, .rounded-4 {
  border: 1px solid #d3d5d8;
}

.border-bottom {
  border-bottom: 1px solid #d3d5d8 !important;
}

.border-top {
  border-top: 1px solid #d3d5d8 !important;
}

.rounded-5 {
  border-radius: 1rem;
}

.rounded-4 {
  border-radius: 0.5rem;
}

.crop-title, .crop {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.crop-title {
  -webkit-line-clamp: 2;
  line-height: 3rem;
}

.crop {
  -webkit-line-clamp: 4;
}

.col {
  padding: 12px;
}

.a:hover, .card:hover {
  background: #F9F9F9;
  transform: scale(1.03);
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.floating-button {
  user-select: none;
  cursor: pointer;
  border-radius: 100%;
  position: fixed;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 101;
  bottom: 28px;
  right: 28px;
  width: 56px;
  height: 56px;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%);
  border: 1px solid #d3d5d8;
}

.floating-button:hover {
  background: #F9F9F9;
  transform: scale(1.03);
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.vertical-center {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.border-right {
  border-right: 1.5px solid #d3d5d8 !important;
}

.small-a:hover {
  text-decoration: underline;
}

.nav-link.btn-outline-primary:hover {
  color: white !important;
}