<div class="col-md-3 px-0">
  {{#each errors}}
  <div href="#" class="alert alert-danger rounded-4">
    <div class="d-flex justify-content-between">
      <div>
        <small class="fw-bold mb-0">{{text}}</small>
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  {{/each}}
</div>