<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 82.5vh;">
  <div class="w-100">
    <div class="row justify-content-center">
      <div class="col-md-3"></div>
      <div class="col-md-6 px-5 mb-0">
        <div class="modal-content rounded-5">
          <div class="ps-4 py-4 border-bottom-0">
            <h2 class="display-6 fw-bold m-0 crop-title">Edit Note</h2>
          </div>
          <div class="modal-body px-4 pt-0">
            <form action="/notes/edit-note/{{note._id}}?_method=PUT" method="POST">
              <input type="hidden" name="_method" value="PUT">
              <div class="form-floating mb-3">
                <textarea name="title" class="form-control fs-5 rounded-4" id="floatingTextarea"
                  style="height: 88px; resize: none" id="title" autofocus>{{note.title}}</textarea>
                <label for="title" style="opacity: 1;">
                  <span style="opacity: .65;">Title</span>
                  <small id="char-counter" class="text-muted px-2" style="opacity: 1;"></small>
                </label>
              </div>
              <div class="form-floating mb-3">
                <textarea name="description" class="form-control fs-5 rounded-4" id="floatingTextarea2"
                  style="height: 168px">{{note.description}}</textarea>
                <label for="floatingTextarea" style="opacity: 1;">
                  <span style="opacity: .65;">Description</span>
                  <small id="char-counter2" class="text-muted px-2" style="opacity: 1;"></small>
                </label>
              </div>
              <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Save</button>
              <button type="button" class="w-100 mb-2 btn btn-lg rounded-4 btn-danger" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Delete</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-3 px-0">
        {{> errors}}
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="vertical-center">
    <div class="modal-dialog px-5">
      <div class="modal-content rounded-5 shadow">
        <div class="modal-body py-4 px-5 text-center">
          <h2 class="display-6 fw-bold m-0">Delete note?</h2>
          <p class="fs-5 mb-0 py-2">This note will be permanently deleted from your account.</p>
        </div>
        <form action="/notes/delete/{{note._id}}?_method=DELETE" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <div class="modal-footer flex-nowrap p-0 border-top">
            <button type="submit" class="btn btn-lg btn-link fs-5 text-decoration-none col-6 m-0 rounded-0 border-right">
              <strong class="text-danger">Yes, delete</strong>
            </button>
            <button type="button" class="btn btn-lg btn-link fs-5 text-decoration-none col-6 m-0 rounded-0"
              data-bs-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  const title = document.getElementById('floatingTextarea');
  const description = document.getElementById('floatingTextarea2');
  const counter = document.getElementById('char-counter');
  const counter2 = document.getElementById('char-counter2');

  const checkCounter = (e) => {

    const element = e.currentTarget;

    let {
      limit,
      value,
      counter,
      originalClass
    } = element;

    let { length } = element.value;

    if (length >= limit) {
      element.value = value.slice(0, limit);
      value = element.value;
      length = element.value.length;
    } else if (length >= limit - 20) {
      counter.className = originalClass;
      counter.className += ' text-warning ';// badge bg-warning
      counter.className += 'fw-bold';
    } else {
      counter.className = `text-muted ${originalClass}`;
    }
    if (length >= limit - 10) {
      counter.className = originalClass;
      counter.className += ' text-danger ';// counter.className += ' badge bg-danger ';
      counter.className += 'fw-bolder';
    }
    counter.innerHTML = `${length} / ${limit}`;
  }

  title.addEventListener('input', checkCounter);
  title.limit = 50;
  title.counter = counter;
  title.originalClass = 'px-2';
  counter.innerHTML = `${title.value.length} / ${title.limit}`;
  description.addEventListener('input', checkCounter);
  description.limit = 140;
  description.counter = counter2;
  description.originalClass = 'px-2';
  counter2.innerHTML = `${description.value.length} / ${description.limit}`;
</script>